<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DAO.Movie.MovieSimilarDAO">
	<insert id="insertMovieSimilar" parameterType="moviesimilar">
		INSERT INTO MOVIE_SIMILAR (
			similar_movie_id, movie_id
		) VALUES (
			#{similarMovieId}, #{movieId}
		)
	</insert>
	
	<!-- Oracle MERGE (UPSERT) - 연결 테이블이므로 UPDATE 없이 INSERT만 수행 -->
	<insert id="mergeMovieSimilar" parameterType="moviesimilar">
		MERGE INTO MOVIE_SIMILAR ms
		USING (SELECT #{similarMovieId} AS similar_movie_id, #{movieId} AS movie_id FROM DUAL) src
		ON (ms.similar_movie_id = src.similar_movie_id AND ms.movie_id = src.movie_id)
		WHEN NOT MATCHED THEN
			INSERT (similar_movie_id, movie_id)
			VALUES (#{similarMovieId}, #{movieId})
	</insert>
	
	<select id="countMovieSimilar" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM MOVIE_SIMILAR
		WHERE similar_movie_id = #{similarMovieId} AND movie_id = #{movieId}
	</select>
</mapper>
