<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DAO.Movie.PersonDAO">
	<insert id="insertPerson" parameterType="person">
		INSERT INTO PERSON (
			person_id, person_name, biography, profile_path
		) VALUES (
			#{personId}, #{personName}, #{biography}, #{profilePath}
		)
	</insert>
	
	<!-- Oracle MERGE (UPSERT) - 중복 검사 없이 DB 레벨에서 처리 -->
	<insert id="mergePerson" parameterType="person">
		MERGE INTO PERSON p
		USING (SELECT #{personId} AS person_id FROM DUAL) src
		ON (p.person_id = src.person_id)
		WHEN MATCHED THEN
			UPDATE SET 
				p.person_name = #{personName},
				p.biography = #{biography},
				p.profile_path = #{profilePath}
		WHEN NOT MATCHED THEN
			INSERT (person_id, person_name, biography, profile_path)
			VALUES (#{personId}, #{personName}, #{biography}, #{profilePath})
	</insert>
	
	<select id="selectPersonById" parameterType="string" resultType="person">
		SELECT person_id, person_name, biography, profile_path
		FROM PERSON
		WHERE person_id = #{personId}
	</select>
</mapper>
