<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="AdminSummaryStats">
  	<!-- 기간 내 신규 회원 수 -->
  	<select id="selNewMemberCntByRange" resultType="int">
  		<![CDATA[
        SELECT COUNT(*)
        FROM MEMBER
        WHERE memDate BETWEEN #{startDate} AND #{endDate} + 1
        ]]>
  	</select>
  	
  	<!-- 기간 내 신규 게시글 수 -->
  	<select id="selNewBoardCntByRange" resultType="int">
  		<![CDATA[
        SELECT COUNT(*)
        FROM BOARD
        WHERE boardDate BETWEEN #{startDate} AND #{endDate} + 1
        ]]>
  	</select>
  	
  	<!-- 기간 내 투표 참여 수 -->
  	<select id="selNewVoteJoinCntByRange" resultType="int">
  		<![CDATA[
        SELECT COUNT(*)
        FROM VOTE_RECORD
        WHERE recordCreatedDate BETWEEN #{startDate} AND #{endDate} + 1
        ]]>
  	</select>
  	
  	<!-- 기간 내 신규 문의 수 -->
  	<select id="selNewInquiryCntByRange" resultType="int">
  		<![CDATA[
        SELECT COUNT(*)
        FROM BOARD
        WHERE BoardType = 11
      	  AND BoardDate BETWEEN #{startDate} AND #{endDate} + 1
        ]]>
  	</select>
  	
  	<!-- 일별 방문자 추이 -->
  	<select id="selDailyVisitorTrend" resultType="trend">
  		<![CDATA[
		WITH date_range AS (
		    SELECT TRUNC(#{startDate}) + LEVEL - 1 AS dt
		    FROM dual
		    CONNECT BY LEVEL <= TRUNC(#{endDate}) - TRUNC(#{startDate}) + 1
		)
		SELECT
		    TO_CHAR(d.dt, 'YYYY-MM-DD') AS regDate,
		    NVL(v.dauCount, 0) AS cnt
		FROM date_range d
		LEFT JOIN DAILY_VISIT v
		    ON v.statDate = d.dt
		ORDER BY d.dt
		]]>
  	</select>
  	
  	<!-- 일별 신규 회원 추이 -->
  	<select id="selDailyNewMemberTrend" resultType="trend">
  		<![CDATA[
	    WITH date_range AS (
		    SELECT TRUNC(#{startDate}) + LEVEL - 1 AS dt
		    FROM dual
		    CONNECT BY LEVEL <= TRUNC(#{endDate}) - TRUNC(#{startDate}) + 1
		)
		SELECT
		    TO_CHAR(d.dt, 'YYYY-MM-DD') AS regDate,
		    NVL(COUNT(m.memDate), 0) AS cnt
		FROM date_range d
		LEFT JOIN MEMBER m
		    ON TRUNC(m.memDate) = d.dt
		GROUP BY d.dt
		ORDER BY d.dt
		]]>
  	</select>
  </mapper>