<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Member"> <!-- 매퍼네임 스페이스명을 Member로 설정 -->
  
  <!-- 회원 정보 저장 -->
  <insert id="registerIn" parameterType="member">
    insert into member (memNo, memId, memPwd, memName, memPhone, memEmail, memRole, memState, memDate) 
     values(memNoSeq.nextval, #{memId}, #{memPwd}, #{memName}, #{memPhone}, #{memEmail}, 2, 1, sysdate)
  </insert>
  
  <!-- 중복 아이디 검색 -->
  <select id="idCheck" parameterType="String" resultType="member">
   select * from member where memId=#{id}
  </select>
  
  <!-- 입력받은 아이디로 로그인 인증 -->
  <select id="loginCheck" parameterType="String" resultType="member">
  	select * from member where memId = #{id} and memRole=2 and memState=1
  </select>

  <!-- 글쓰기 입력할 유저 조회 (?) -->
  <select id="getMemberInfo" parameterType="Integer" resultType="member">
    select * from member where memNo = #{memNo}
  </select>
  
  <!-- 입력받은 이름과 전화번호로 회원검색 -->
  <select id="findId" parameterType="member" resultType="member">
  	select * from member where memName = #{memName} and memPhone = #{memPhone}
  </select>
  
  <!-- 입력받은 아이디와 비밀번호로 회원 검색 -->
  <select id="findPwd" parameterType="member" resultType="member">
	select * from member where memId = #{memId} and memPhone = #{memPhone} 
  </select>
  
  <!-- 암호화된 임시비밀번호 수정 -->
  <update id="updatePwd" parameterType="member">
  	update member set memPwd = #{memPwd} where memId = #{memId} and memPhone = #{memPhone}
  </update>
  
  
  </mapper>