<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="Board">

    <insert id="boardIn" parameterType="bdto">
        insert into BOARD (boardId, boardType, boardTitle, boardContent, boardName, boardDate, memNo)
            values(boardIdSeq.nextval, #{boardType}, #{boardTitle}, #{boardContent}, #{boardName}, SYSDATE, #{memNo})
    </insert>

    <select id="boardList" resultType="DTO.Board.BoardDTO">
        SELECT * FROM BOARD ORDER BY boardId DESC
    </select>

    <select id="boardCont" parameterType="int" resultType="DTO.Board.BoardDTO">
        SELECT * FROM BOARD WHERE boardId = #{boardId}
    </select>

    <update id="updateReadCount" parameterType="int">
        UPDATE BOARD
        SET BOARDRECOMMENDCOUNT = NVL(BOARDRECOMMENDCOUNT, 0) + 1
        WHERE BOARDID = #{boardId}
    </update>

</mapper>